build-client
build-server
build
target

# Composer-generated development crates.
mods/generated-block-registry
mods/generated-client-settings-registry
mods/generated-item-metadata
mods/generated-item-registry
mods/generated-network-messages


# Temp
*.png
!mods/block-sand/assets/*.png
!mods/block-snow/assets/*.png
!mods/block-gravel/assets/*.png
!mods/block-packed-ice/assets/*.png
!mods/block-oak-leaves/assets/*.png
!mods/block-oak-log/assets/*.png
!mods/block-cactus/assets/*.png
*.ttf
