build-client
build-server
build-thecrown
build-thecrown-auth
build-thecrown-game
build
target

config.toml

# Composer-generated development crates.
mods/generated-*

# Game files
worlds
thecrown/data/hub
thecrown/data/skywars_modularis
thecrown/scripts/hub_world_minecraft
thecrown/scripts/skywars_world_minecraft